development:
  dialect: mysql
  datasource: blog:blog@tcp(127.0.0.1)/blog?charset=utf8mb4&parseTime=true
  dir: migrations/mysql

production:
  dialect: mysql
  datasource: ${DBDSN}
  dir: migrations/mysql

development-pg:
  dialect: postgres
  datasource: user=blog password=blog host=127.0.0.1 port=5432 dbname=blog sslmode=disable
  dir: migrations/postgres

production-pg:
  dialect: postgres
  datasource: ${DBDSN}
  dir: migrations/postgres
