on:
  push:
    branches:
      - "master"
  pull_request:

name: test

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    env:
      BLOG_ENV: ${{ secrets.BLOG_ENV }}
      BLOG_APP_PORT: ${{ secrets.BLOG_APP_PORT }}
      BLOG_AWS_S3_BUCKET: ${{ secrets.BLOG_AWS_S3_BUCKET }}
      BLOG_AWS_S3_THUMBNAIL_DIRECTORY: ${{ secrets.BLOG_AWS_S3_THUMBNAIL_DIRECTORY }}
      BLOG_AWS_S3_CONTENT_IMAGE_DIRECTORY: ${{ secrets.BLOG_AWS_S3_CONTENT_IMAGE_DIRECTORY }}
      ADMIN_NAME: ${{ secrets.ADMIN_NAME }}
      ADMIN_EMAIL: ${{ secrets.ADMIN_EMAIL }}
      ADMIN_PASSWORD: ${{ secrets.ADMIN_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      BLOG_DB_HOST: 127.0.0.1
      BLOG_DB_PORT: 33061
      BLOG_DB_USER: blog
      BLOG_DB_PASS: blog
      BLOG_DB_NAME: blog
      BLOG_DB_TLS_ENABLED: false
      BLOG_KVS_HOST: localhost
      BLOG_KVS_PORT: 6379
      BLOG_KVS_USER: default
      BLOG_KVS_PASS: redispw
      BLOG_KVS_TLS_ENABLED: false

    services:
      postgresql:
        image: postgres:latest
        ports:
          - "54321:5432"
        environment:
          POSTGRES_USER: blog
          POSTGRES_PASSWORD: blog
          POSTGRES_DB: blog
        options: >-
          --health-cmd "PGPASSWORD=blog psql -h 127.0.0.1 -p 5432 -U blog -d blog -c "SELECT 1"
          --health-interval 20s
          --health-timeout 10s
          --health-retries 10
      redis:
        image: redis:latest
        options: >-
          --health-cmd "redis-cli -h localhost ping"
          --health-interval 20s
          --health-timeout 10s
          --health-retries 10
        ports:
          - 6379:6379

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ">=1.19"
      - uses: actions/checkout@v3
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
      - run: go test ./... -coverprofile=coverage.out
      - name: report coverage
        uses: k1LoW/octocov-action@v0
